

<!--<p>Google Maps will go here.</p>-->
<!-- api key for maps -->
<!-- AIzaSyA6ola9rBmis1fcbSkP5PfwSAZ6c3XhDhU -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6ola9rBmis1fcbSkP5PfwSAZ6c3XhDhU&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(15, 0),
          zoom: 3,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var s = {{ postcards|safe }};
        var data = eval(s)['data'];

        for (var i = 0; i < data.length; i++) {
          var lat = Number(data[i]['from_latitude']);
          var lng = Number(data[i]['from_longitude']);
          
          var myLatlng = new google.maps.LatLng(lat, lng);
          
          var contentString = '<div id="content">'+
              '<div id="siteNotice">'+
              '</div>'+
              '<h1 id="firstHeading" class="firstHeading">' + data[i]['name'] + '</h1>'+
              '<div id="bodyContent">'+
              '<p>' + data[i]['from'] + '</p>'
              '</div>'+
              '</div>';

          var infowindow = new google.maps.InfoWindow({
              content: contentString
          });

          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: 'PostCard!'
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
          });


          // var infoWindowOpts = new google.maps.infoWindowOptions({'content': data[i]['from']});
          // To add the marker to the map, use the 'map' property
          // var marker = new google.maps.Marker({
          //     position: myLatlng,
          //     map: map,
          //     title:"Fuck yeah"
          // });
        }
      }


      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
  	<p>
  		<a href='/api_key'>api key</a>
       	<a href='/map'>map</a>
	  </p>
    <p>{{ hi }}</p>

    
    <div id="map-canvas"/>
  </body>
</html>